extends layout

block content
  h1 Spadix
  p.lead An app to help you pick a politician.
  hr
  .row
    .col-sm-6
      h2 Create an account
      p Save your progress as you go, then next election your politicians will already be filtered.
      p
        a.btn.btn-default(href='/signup', role='button') Sign Up »
    .col-sm-6
      h2 Align with Organizations
      p American Cancer Society, Sierra Club, Planned Parenthood... These are just a few of the organizations that you can align yourself with to help filter the politicians.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Vote on the issues you care about
      p The more issues you `vote` on, the closer we can get to finding a politician that has your preferences in mind.
      p
        a.btn.btn-default(href='#', role='button') View details »
    .col-sm-6
      h2 Privacy
      p During the beta phase, the site might not be at it's most secure state. But you can rest assured that your info will never be sold.
      p The last thing we want is for money to be used to buy your vote.
      p
        a.btn.btn-default(href='#', role='button') View details »